.button {
    display: block;
    max-width: 190px;
    width: 100%;
    height: 50px;
    background: $button;
    padding: 12px;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    margin: 0 auto;
    color: #fff;
    border: 1px solid #fff;
    text-transform: uppercase;
    margin-top: 30px;
    z-index: 100;
    &:hover {
        color: #fff;
    }
}

.button-mini {
    transition: 0.6s;
    opacity: 0;
    max-width: 100px;
    width: 100%;
    height: 30px;
    padding: 6px;
    background: $button;
    border: 1px solid #fff;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    &:hover {
        color: #fff;
    }
}