:root {
    --colorText: #313131;
    --colorBlack: #000000;
    --colorBg: #fff;
    --menuDropBg: #fff;
    --productShadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
    --propertyShadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
}

$button: #313131;
$dots: #ABABAB;
$discount: #313131;


$body: #fff;
$text: #313131;
$topLink: #fff;





/* $dotsActive: #313131; */

/* $darkDots: #fff; */


$darkBg: #313131;
$darkNavbar: #0C0C0C;
$darkCOlor: #fff;
$darkButton: #fff;
