:root {
    --navColor: #313131;
    --colorText: #313131;
    --colorBlack: #000000;
    --colorBg: #fff;
    --menuDropBg: #fff;
    --productShadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
    --footerColor: #fff;
}

$button: #313131;
$dots: #ABABAB;
$discount: #313131;
$text: #313131;