@import 'base/variables';
@import 'base/button';

body {
    background: $body;
    color: $text;
}

a {
    text-decoration: none;
}

h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1, p {
    margin-bottom: 0;
}
a {
    text-decoration: none;
}

ul {
    list-style: none;
}


@import 'blocks/header-top';
@import 'blocks/nav';
@import 'blocks/nav-992';

@import 'blocks/slider';
@import 'blocks/discount';

@import 'base/media';