.discount {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 30px;
    margin-top: 50px;
    margin-bottom: 42px;
    &__card {
        position: relative;
        background: #F9F9F9;
        min-height: 235px;
        &:nth-of-type(1) {
            grid-column: span 2;
            grid-row: span 2;
        }
        &:nth-of-type(2) {
            grid-column: span 2;
        }
    }
    &__img {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    &__content {
        position: relative;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 20px;
    }
    &__percent {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 70px;
        height: 70px;
        background: $discount;
        border-radius: 50%;
        font-size: 20px;
        color: #fff;
    }
    &__item {
        font-size: 24px;
        letter-spacing: 0.05em;
        color: $discount;
    }
    &__title {
        font-weight: 500;
    }
    &__price {
        font-weight: 300;
        &_margin {
            margin-top: 6px;
        }
    }
    
}