@media (max-width: 991px) {
    .navbar {
        padding: 0;
        &_992 {
            display: block;
        }
    }
    .nav-992 {
        width: 100%;
        background: #313131;
        &__row {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 15px 0;
        }
    }
    .logo {
        display: inline-block;
        &__img {
            max-height: 31px;
            max-width: 166px;
            width: 100%;
            object-fit: contain;
        }
        
    }
    .header-menu {
        margin: 0 auto;
        height: 100%;
        &__link {
            justify-content: center;
            margin-top: 20px;
            &.show .dropdown__arrow {
                transform: rotateY(180deg);
            }
            &.show .header-menu__lang  {
                display: none;
            }
        }
    }
    .btn-group, .btn-group-vertical {
        justify-content: center;
    }
    .dropend .dropdown-menu[data-bs-popper] {
        margin-top: 20px;
        margin-left: 0;
    }
    .dropdown {
        &-menu {
            background: $darkNavbar;
            box-shadow: 0px 0px 2px rgba(255, 255, 255, 0.3);
            &.show {
                display: flex;
                align-items: flex-end;
                max-height: 21px;
                min-width: 0;
                background: none;
                padding: 0;
                margin-right: 16px;
                box-shadow: none;
                border: none;
            }
        }
        &__lang {
            max-height: 20px;
            object-fit: contain;
        }
        &__arrow {
            margin-right: 8px;
        }
        
        &__link {
            padding: 0;
        }
        &__divider {
            margin: auto 4px;
            width: 1px;
            height: 100%;
        }
    }  


    .search-form {
        margin-top: 28px;
        &__input {
            border-color: $darkCOlor;
            background: $darkBg;
        }
        &__button {
            border-color: $darkCOlor;
            &:hover {
                border-color: $darkCOlor;
            }
        }
    }
    .search-form *::placeholder {
        color: #BBBBBB;
    }
    .form-control:focus {
        background: $darkBg;
        border-color: $darkCOlor;
        color: #bbb;
    }
    .menu {
        flex-direction: column;
        &__item {
            margin: 0;
        }
        &__title {
            position: relative;
            padding: 10px 0;
        }
        &__link {
            color: #fff;
            &:hover {
                color: #fff;
            }
        }
        &__button {
            background: none;
            border: none;
            padding: 0;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            &::before {
                content: '';
                position: absolute;
                height: 1px;
                width: 100%;
                background: #fff;
                bottom: 0;
            }
            &:not(.collapsed) .menu__icon {
                transform: rotate(45deg);
            }
            &:not(.collapsed)::before {
                display: none;
            }
        }
        &__icon {
            margin-right: 15px;
            font-size: 14px;
            transition: 0.5s all;
        }
        &-dropdown {
            background: $darkBg;
            margin: 0 !important;
            box-shadow: 0px 0px 2px rgba(255, 255, 255, 0.5);
            &__row {
                flex-wrap: wrap;
            }
            &__divider {
                background: $darkCOlor;
            }
            &__link {
                color: $darkCOlor;
            }
            &__item {
                margin-right: 64px;
            }
        }
    }
}

@media (max-width: 575px) {
    .search-form {
        flex-direction: column;
        &__button {
            font-size: 10px;
        }
        &__icon {
            font-size: 15px;
        }
    }
    .search-form *::placeholder {
        text-align: center;
        font-size: 14px;
    }
    .menu {
        &__link {
            font-size: 14px;
        }
        &__icon {
            font-size: 10px;
        }
    }
}