.page-up {
    z-index: 998;
    position: relative;
    display: none;
    position: fixed;
    bottom: 126px;
    right: 40px;
    width: 40px;
    height: 40px;
    border: 1px solid #fff;
    background: var(--navColor);
    border-radius: 50%;
    &__icon {
        position: absolute;
        left: 49%;
        top: 47%;
        transform: translate(-50%,-52%);
        font-size: 28px;
        color: #fff;
    }
}